# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/
env/

# Logs
*.log

# Large model files
models/
*.bin
*.safetensors
*.pt
*.pth
*.ckpt

# Cache folders
.cache/
huggingface/
wandb/
runs/

# OS
.DS_Store
